body{
  margin:0;
  font-family:Arial;
  background:white;
  text-align:center;
}

.page{
  display:none;
  padding:30px;
}

.page.active{
  display:block;
}

.title{
  margin-top:80px;
  font-size:40px;
}

.tnh{
  color:black;
  font-weight:bold;
}

.safe{
  color:#007BFF;
  font-weight:bold;
}

.sos-btn{
  margin-top:100px;
  font-size:40px;
  padding:40px 80px;
  background:red;
  color:white;
  border:none;
  border-radius:20px;
}

#optionsContainer{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
}

.option-btn{
  width:80%;
  padding:15px;
  font-size:18px;
  border-radius:10px;
  border:1px solid #ccc;
  background:#f2f2f2;
}

input{
  width:80%;
  padding:15px;
  font-size:18px;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  margin-top:30px;
  padding:15px 30px;
  font-size:18px;
  background:#007BFF;
  color:white;
  border:none;
  border-radius:10px;
}

pre{
  text-align:left;
  white-space:pre-wrap;
}
