body{
  margin:0;
  font-family:Arial;
  background:white;
  text-align:center;
}

/* PAGE SETUP */
.page{
  display:none;
  padding:20px;
}
.page.active{
  display:block;
}

/* TITLE */
.title{
  margin-top:40px;
  font-size:36px;
}
.tnh{ color:black; font-weight:bold; }
.safe{ color:#007BFF; font-weight:bold; }

/* BIG CIRCULAR SOS BUTTON */
.sos-btn{
  margin-top:60px;
  width:160px;
  height:160px;
  font-size:40px;
  border-radius:50%;
  background:red;
  color:white;
  border:none;
  cursor:pointer;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* BACK BUTTON */
.back-btn{
  background:none;
  border:none;
  color:#007BFF;
  font-size:24px;
  cursor:pointer;
  margin-bottom:15px;
  display:flex;
  align-items:center;
}
.back-btn span{ margin-left:5px; font-size:18px; }

/* CHOICE BUTTONS */
#optionsContainer{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;
}
.option-btn{
  width:90%;
  padding:15px;
  font-size:18px;
  border-radius:10px;
  border:none;
  background:#5DADE2; /* light blue */
  color:white;
  cursor:pointer;
  text-align:center;
}

/* INPUTS */
input{
  width:90%;
  padding:15px;
  font-size:18px;
  border-radius:10px;
  border:1px solid #ccc;
}

/* CONFIRM BUTTON */
button.confirm-btn{
  margin-top:15px;
  padding:12px 25px;
  font-size:18px;
  background:#007BFF;
  color:white;
  border:none;
  border-radius:10px;
}

/* SUMMARY BOX */
#summaryBox{
  background:#5DADE2;
  color:white;
  padding:20px;
  border-radius:15px;
  margin:20px auto;
  max-width:90%;
  text-align:left;
  font-size:14px;
}

/* CONFIRM MAIN BUTTON */
button{
  margin-top:20px;
  padding:15px 30px;
  font-size:18px;
  background:#007BFF;
  color:white;
  border:none;
  border-radius:10px;
}

/* MOBILE RESPONSIVE */
@media(max-width:480px){
  .sos-btn{ width:140px; height:140px; font-size:36px; }
  .title{ font-size:28px; }
  input, .option-btn{ width:95%; }
  #summaryBox{ font-size:13px; }
}
