/* SOS Button Circular Design */
.sos-btn{
  margin-top:100px;
  width:200px;
  height:200px;
  font-size:50px;
  border-radius:50%;
  background:red;
  color:white;
  border:none;
  cursor:pointer;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Question choices styling */
.option-btn{
  width:80%;
  padding:15px;
  font-size:18px;
  border-radius:10px;
  border:none;
  background:#5DADE2; /* light blue background */
  color:white; /* white text */
  cursor:pointer;
  text-align:center;
}
